@use '../variables/variables' as variable;

.layout {
    padding: 0 8px;
    margin-bottom: variable.$header-height;
}

@media screen and (min-width: variable.$screen-xs) {
    .layout {
        padding: 0 1rem;
    }
    
}
@media screen and (min-width: variable.$screen-sm) {
    .layout {
        padding: 0 4rem;
    }
}

@media screen and (min-width: variable.$screen-md) {
    .layout {
        padding: 0 6rem;
    }
}

@media screen and (min-width: variable.$screen-lg) {
    .layout {
        padding: 0 4rem;
        margin-bottom: 0;
    }
}

@media screen and (min-width: variable.$screen-xl) {
    .layout {
        padding: 0 8rem;
    }
}