@use '../variables/variables' as variable;

.about-me {
    min-height: 100vh;
}

.about-me_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & p {
        text-align: center;
    }
}

.about-me__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // gap: 1rem;
    gap: 2rem;
}

.about-me___item {
    margin-bottom: 1rem;

    & h3 {
        color: variable.$accent-color;
        font-weight: 600;
        font-size: variable.$font-base;
    }

    & p {
        font-size: variable.$font-sm;
    }
}

.about-me___container-second {
    background-color: variable.$secondary-color;
    overflow: hidden;
    border-radius: 50%;
    width: 390px;
    height: 390px;
}

.about-me___my-name {
    color: variable.$accent-color;
    font-weight: 600;
    font-size: variable.$font-xl;
}

.about-me___whatsapp {
    color: #0ACF83;
    font-weight: 600;
    font-size: variable.$font-xl;
}

// @media screen and (min-width: variable.$screen-xs) {
//     .about-me {
//         max-width: 90%;
//         padding-top: 3rem;
//     }
// }

// @media screen and (min-width: variable.$screen-md) {
//     .about-me {
//         max-width: 85%;
//     }

//     .about-me__text {
//         font-size: variable.$font-base;
//     }
// }

@media screen and (min-width: variable.$screen-lg) {
    .about-me {
        padding-top: 2rem;
        max-width: 100%;
    }

    .about-me__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }

    .about-me___container-second {
        width: 400px;
        height: 400px;
        min-width: 400px;
        min-height: 400px;
    }

    .about-me___item {
        margin-bottom: 1rem;

        & h3 {
            font-size: variable.$font-xl;
        }

        & p {
            font-size: variable.$font-base;
        }
    }
}

@media screen and (min-width: variable.$screen-xl) {
    .about-me__text {
        font-size: variable.$font-lg;
    }
}