@use '../variables/variables' as variable;

.svg-icon-container{
  transform: translateY(3px);
}

.button-icon:hover .svg-icon {
  animation: diagonal-move 0.6s linear infinite alternate;
  animation-fill-mode: none; 
}
@keyframes diagonal-move {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(6px, -6px); /* derecha y arriba */
    }
  }

  @media screen and (min-width: variable.$screen-sm) {

    .svg-icon-container{
      margin-left: 0.5rem;
      display: block;
    }
    
  }