@use "../variables/variables" as variable;

// skill container
.skills-card {
    padding: 2rem;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid variable.$secondary-color;
    border-radius: variable.$border-radius;
    max-height: 250px;
    min-height: 250px;
}

// indivisual skill card
.skill-card {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variable.$secondary-color;
    border-radius: variable.$border-radius;
}

.psql-icon {
    width: 36px;
    height: 36px;
}

.skill-others {
    color: variable.$primary-text-color;
}