.homeBanner {
    background-color: transparent;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    font-family: var(--poppins);
}

.homeBanner__container {
    padding-top: 6rem;
    height: 100vh;
    display: flex;
}

.socialNetworks {
    /*   background-color: rgb(36, 36, 202); */
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.socialNetworks__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.github,
.linkedin,
.instagram,
.facebook,
.twitter {
    fill: #E2E2E2;
    margin-bottom: .5rem;
    transition: transform 0.50s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.github:hover {
    fill: #fff;
}

.linkedin:hover {
    fill: #0077B5;
}

.instagram:hover {
    fill: #C13584;
}

.facebook:hover {
    fill: #1877F2;
}

.github:hover,
.linkedin:hover,
.instagram:hover,
.facebook:hover,
.twitter:hover {
    transform: scale(1.2);
}

.twitter {
    margin: 0;
}

.twitter:hover {
    fill: #1DA1F2;
}

.lineOne,
.lineTwo {
    width: 2px;
    height: 100%;
    margin-left: 16px;
    margin-right: 16px;

}

.lineOne {
    margin-bottom: 16px;
    background: linear-gradient(-45deg, #35A4F2, #100F16 90%);
}

.lineTwo {
    margin-top: 16px;
    background: linear-gradient(-45deg, #100F16 10%, #35A4F2);
}


.homeBanner__content {
    display: grid;
    grid-template-columns: 1fr 470px;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}

.nameAndDescription {
    margin: 3rem 0 0 3.5rem;
}

.name {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 2.25rem;
    line-height: 4.3125rem;
    min-height: 9.25rem;
}

.textColor {
    color: #35A4F2;
}

@keyframes expand {
    0% {
        transform: scaleY(0.1);
    }

    50% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0.1);
    }
}

.type::after {
    content: '|';
    display: inline-block;
    animation: expand 1s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

.description {
    font-weight: 400;
    line-height: 1.5rem;
}

.techIcon {
    /* background-color: rgb(255, 0, 221); */
}