.homeBanner {
    background-color: transparent;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    max-width: 1250px;
    margin: 0 auto;

    @media screen and (max-width: 576px) {
        max-width: 90%;
    }
}

.homeBanner__container {
    padding-top: 6rem;
    height: 100vh;
    display: flex;
    z-index: 1;
    flex-direction: row-reverse;

    @media screen and (max-width: 576px) {
        flex-direction: column;
    }
}

.socialNetworks {
    /*   background-color: rgb(36, 36, 202); */
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 576px) {
        flex-direction: row;
        gap: 0.5rem;
        padding: 0.5rem 0;
    }
}

.socialNetworks__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media screen and (max-width: 576px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.github,
.linkedin,
.instagram,
.facebook,
.twitter {
    fill: #E2E2E2;
    margin-bottom: .5rem;
    transition: transform 0.50s cubic-bezier(0.075, 0.82, 0.165, 1);
    @media screen and (max-width: 576px) {
        margin-right: 0.5rem;
        margin-bottom: 0;
    }
}

.github:hover {
    fill: #fff;
}

.linkedin:hover {
    fill: #0077B5;
}

.instagram:hover {
    fill: #C13584;
}

.facebook:hover {
    fill: #1877F2;
}

.github:hover,
.linkedin:hover,
.instagram:hover,
.facebook:hover,
.twitter:hover {
    transform: scale(1.2);
}

.twitter {
    margin: 0;
}

.twitter:hover {
    fill: #1DA1F2;
}

.lineOne,
.lineTwo {
    width: 2px;
    height: 100%;
    margin-left: 16px;
    margin-right: 16px;

    @media screen and (max-width: 576px) {
        width: 100%;
        height: 2px;
    }
}

.lineOne {
    margin-bottom: 16px;
    background: linear-gradient(-45deg, #35A4F2, #100F16 90%);

    @media screen and (max-width: 576px) {
        margin: 0;
    }
}

.lineTwo {
    margin-top: 16px;
    background: linear-gradient(-45deg, #100F16 10%, #35A4F2);

    @media screen and (max-width: 576px) {
        margin: 0;
    }
}


.homeBanner__content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 576px) {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 42%;
        grid-template-rows: 1fr;
    }
}

.nameAndDescription {
    margin: 3rem 0 0 3.5rem;

    @media screen and (max-width:576px) {
        margin: 0;
    }
}

.nameContainer {
    margin-bottom: 2.25rem;
    min-height: 9.25rem;
    @media screen and (max-width:576px) {
        min-height:  10.50rem;
        margin-bottom: 1.50rem;
    }
}

.name {
    font-weight: 700;
    font-size: 4em;
    line-height: 4.3125rem;

    @media screen and (max-width:576px) {
        font-size: 2.7rem;
        line-height: 3.3125rem;
    }
}

.textColor {
    color: #35A4F2;
}

@keyframes expand {
    0% {
        transform: scaleY(0.1);
    }

    50% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0.1);
    }
}

.type {
    margin-left: 0.5rem;
    font-size: inherit;
    font-weight: inherit;
    color: #35A4F2;
}

.type::after {
    content: '|';
    display: inline-block;
    animation: expand 1s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

.description {
    font-weight: 400;
    line-height: 1.5rem;
}

.techIcon {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-content: center;
    align-tracks: center;
    margin: 3rem 0;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-12px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes floatTwo {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(10px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1) rotate(5deg);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.90) rotate(-5deg);
    }

    100% {
        transform: scale(1);
    }
}

.circleContainerSass,
.circleContainerGit,
.circleContainerReact,
.circleContainerJs,
.circleContainerCSS,
.circleContainerNext,
.circleContainerHTML {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 6s ease-in-out infinite;
}

.circleContainerGit,
.circleContainerNext {
    animation: floatTwo 3s ease-in-out infinite;
}

.circleContainerReact {
    animation: zoomOut 3s ease-in-out infinite;
}

.circleContainerCSS {
    animation: zoomIn 2s ease-in-out infinite;
}

.circleContainerSass {
    grid-row-start: 1;

    @media screen and (max-width: 576px) {
        grid-row-start: 2;
        grid-column-start: 2;
    }
}

.circleContainerGit {
    grid-row-start: 5;
    grid-column-start: 1;
    width: 45px;
    height: 45px
}

.circleContainerReact {
    grid-row-start: 4;
    grid-column-start: 4;
}

.circleContainerJs {
    grid-row-start: 7;
    grid-column-start: 3;
}

.circleContainerCSS {
    grid-column-start: 4;
}

.circleContainerNext {
    grid-row-start: 2;
    grid-column-start: 7;
}

.circleContainerHTML {
    grid-row-start: 5;
    grid-column-start: 7;
    width: 45px;
    height: 45px
}


.blurCircleSass,
.blurCircleGit,
.blurCircleReact,
.blurCircleJs,
.blurCircleCSS,
.blurCircleNext,
.blurCircleHTML {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(30px);
    z-index: 1;
    opacity: .8;
    border-radius: 50%;
}

.blurCircleSass {
    background-color: #F06292;
    box-shadow: 0 0 0 5px #F06292;
}

.blurCircleGit {
    background-color: #F07852;
    box-shadow: 0 0 0 5px #F07852;
}

.blurCircleReact {
    background-color: #61DAFB;
    box-shadow: 0 0 0 5px #61DAFB;
}

.blurCircleJs {
    background-color: #FFD600;
    box-shadow: 0 0 0 5px #FFD600;
}

.blurCircleCSS {
    background-color: #1192EE;
    box-shadow: 0 0 0 5px #1192EE;
}

.blurCircleNext {
    background-color: #E4EEF5;
    box-shadow: 0 0 0 5px #E4EEF5;
}

.blurCircleHTML {
    background-color: #FF976A;
    box-shadow: 0 0 0 5px #FF976A;
}

.circleContent {
    position: relative;
    z-index: 2;
}

.background {
    position: absolute;
    top: 100px;
    left: 38%;
    width: 150px;
    height: 150px;
    background-color: #1877F2;
    border-radius: 50%;
    box-shadow: 0 0 15px 2px #1877F2;
    filter: blur(100px);
    z-index: 1;
}