.homeBanner {
    min-height: calc(100vh - 3.5rem);
    max-width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.nameContainer {
    min-height: 8.5rem;
    text-align: center;
}

.name {
    font-size: 36px;
    line-height: 2.625rem;
    font-weight: 800;
    color: #eaf4fb;
}

.textColor {
    color: #35A4F2;
}

.description {
    color: #d3dce2;
}

@media screen and (min-width: 624px) {
    .homeBanner{
        min-height: calc(100vh - 6rem);
    }
    .name {
        font-size: 36px;
    }

    .homeBanner {
        margin: 1rem auto;
    }

    .nameContainer {
        min-height: 5.5rem;
        margin-bottom: .25rem;
    }
}

@media screen and (min-width: 768px) {
    .homeBanner {
        padding-left: 2.5rem;
    }

    .nameContainer {
        margin-bottom: .5rem;
        min-height: 7.5rem;
    }

    .name {
        font-size: 42px;
        line-height: 3.625rem;
    }
}

@media screen and (min-width: 824px) {

    .nameContainer,
    .description {
        margin: 0 auto;
    }

    .nameContainer {
        margin-bottom: .5rem;
        max-width: 80%;
    }

    .description {
        max-width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .homeBanner {
        flex-direction: row;
        gap: 1rem;
        margin: 0 auto;
    }

    .nameAndDescription {
        margin-top: 2rem;
    }

    .nameContainer,
    .description {
        margin: 0 auto;
    }

    .nameContainer {
        margin-bottom: .5rem;
        max-width: 100%;
        min-height: 11rem;
    }

    .description {
        max-width: 100%;
    }

    .nameAndDescription {
        max-width: 60%;
    }

    .name {
        font-size: 46px;
        line-height: 3.625rem;
    }

    .techIcon {
        margin: 1rem 0;
    }
}

@media screen and (min-width: 1100px) {
    .homeBanner{
        padding-left: 4rem;
    }
    .nameAndDescription {
        max-width: 55%;
    }

    .name {
        font-size: 54px;
        line-height: 3.625rem;
    }

    .techIcon {
        width: 100%;
    }
}

@media screen and (min-width: 1250px) {
    .homeBanner {
        padding-left: 3.5rem;   
        max-width: 100%;
    }
}

@keyframes expand {
    0% {
        transform: scaleY(0.1);
    }

    50% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0.1);
    }
}

.type {
    margin-left: 0.5rem;
    font-size: inherit;
    font-weight: 800;
    color: #35A4F2;
}

.type::after {
    content: '|';
    display: inline-block;
    animation: expand 1s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

.description {
    margin-bottom: 2.5rem;
}

.techIcon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    margin: 2rem 0;
    align-items: center;
}


@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-12px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes floatTwo {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(10px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1) rotate(5deg);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.90) rotate(-5deg);
    }

    100% {
        transform: scale(1);
    }
}

.circleContainerSass,
.circleContainerGit,
.circleContainerReact,
.circleContainerJs,
.circleContainerCSS,
.circleContainerNext,
.circleContainerHTML,
.circleContainerLinux {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 6s ease-in-out infinite;
}

.circleContainerGit,
.circleContainerNext {
    animation: floatTwo 3s ease-in-out infinite;
}

.circleContainerHTML {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 45px;
    height: 45px
}

.circleContainerCSS {
    grid-column-start: 3;
    grid-row-start: 1;
    animation: zoomIn 2s ease-in-out infinite;
}

.circleContainerSass {
    grid-column-start: 5;
    grid-row-start: 2;
}

.circleContainerJs {
    grid-column-start: 5;
    grid-row-start: 4;
}

.circleContainerReact {
    animation: zoomOut 3s ease-in-out infinite;
    grid-column-start: 3;
    grid-row-start: 3;
}

.circleContainerNext {
    grid-column-start: 4;
    grid-row-start: 5;
}

.circleContainerGit {
    grid-column-start: 2;
    grid-row-start: 5;
    width: 45px;
    height: 45px
}

.circleContainerLinux {
    grid-column-start: 1;
    grid-row-start: 4;
    animation: zoomIn 2.5s ease-in-out infinite;
}

@media screen and (min-width: 768px) {
    .techIcon {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .circleContainerHTML {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .circleContainerCSS {
        grid-column-start: 4;
        grid-row-start: 1;
    }

    .circleContainerSass {
        grid-column-start: 6;
        grid-row-start: 2;
    }

    .circleContainerJs {
        grid-column-start: 6;
        grid-row-start: 4;
    }

    .circleContainerReact {
        grid-column-start: 4;
        grid-row-start: 4;
    }

    .circleContainerNext {
        grid-column-start: 5;
        grid-row-start: 7;
    }

    .circleContainerGit {
        grid-column-start: 3;
        grid-row-start: 7;
    }

    .circleContainerLinux {
        grid-column-start: 2;
        grid-row-start: 4;
    }
}

@media screen and (min-width: 1024px) {
    .circleContainerJs {
        grid-column-start: 7;
        grid-row-start: 4;
    }

    .circleContainerNext {
        grid-column-start: 5;
        grid-row-start: 6;
    }

    .circleContainerGit {
        grid-column-start: 3;
        grid-row-start: 6;
    }

    .circleContainerLinux {
        grid-column-start: 1;
        grid-row-start: 4;
    }
}

.blurCircleSass,
.blurCircleGit,
.blurCircleReact,
.blurCircleJs,
.blurCircleCSS,
.blurCircleNext,
.blurCircleHTML,
.blurCircleLinux {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(30px);
    z-index: 1;
    opacity: .8;
    border-radius: 50%;
}

.blurCircleSass {
    background-color: #F06292;
    box-shadow: 0 0 0 5px #F06292;
}

.blurCircleGit {
    background-color: #F07852;
    box-shadow: 0 0 0 5px #F07852;
}

.blurCircleReact {
    background-color: #61DAFB;
    box-shadow: 0 0 0 5px #61DAFB;
}

.blurCircleJs {
    background-color: #FFD600;
    box-shadow: 0 0 0 5px #FFD600;
}

.blurCircleCSS {
    background-color: #1192EE;
    box-shadow: 0 0 0 5px #1192EE;
}

.blurCircleNext {
    background-color: #E4EEF5;
    box-shadow: 0 0 0 5px #E4EEF5;
}

.blurCircleHTML {
    background-color: #FF976A;
    box-shadow: 0 0 0 5px #FF976A;
}

.blurCircleLinux {
    background-color: #E4EEF5;
    box-shadow: 0 0 0 5px #E4EEF5;
}

.circleContent {
    position: relative;
    z-index: 2;
}

.background {
    position: absolute;
    top: 100px;
    left: 38%;
    width: 150px;
    height: 150px;
    background-color: #1877F2;
    border-radius: 50%;
    box-shadow: 0 0 15px 2px #1877F2;
    filter: blur(100px);
    z-index: 1;
}