---
import Subtitle from "./Subtitle.astro";
---

<section class="about-me">
  <Subtitle text="About me" />
  <div class="about-me__content">
    <div>
        <p class="about-me__text">
          Hi, I'm <span class="about-me___my-name">Eriberto Santos</span>, a web developer interested in creating useful
          solutions for people and communities. I enjoy working with technologies
          like React, Next.js, Node.js, and PostgreSQL.
        </p>
        <p class="about-me__text">
          I enjoy learning new things and applying my knowledge to impactful
          projects, especially in the fields of ecotourism and local development.
        </p>
      </div>
      <p class="about-me__text">
        I consider myself responsible, creative, and eager to continue growing in
        the world of web development. I also have experience using tools like Git,
        GitHub, and Linux to work in an organized and efficient manner.
      </p>
      <p class="about-me__text">
        Ready to take the next step in your project? Contact me by <a href="#" class="about-me___whatsapp">WhatsApp</a> or any
        of my social networks.
      </p>
  </div>
</section>
