---
interface Props {
  text: string;
  // svg
  svg?: string;
}

const { text, svg } = Astro.props as Props;
---
<a href="https://drive.google.com/file/d/12z25Mwlj9OOR-NGmgP7ed2rFFqEs5WfA/view?usp=drive_link" class="item button-icon" id="button-icon" target="_blank" rel="nofallow">
    <span>
      {text}
    </span>
    <span class="svg-icon-container">
      <img src={svg} alt="SVG Icon" class="svg-icon" />
    </span>
</a>

