---
interface Props {
  text: string;
  // svg
  svg?: string;
}
const { text, svg } = Astro.props as Props;
---

<a class="button-cta" id="button-cta" href="https://wa.me/9531596121" rel="nofallow" target="_blank">
  <span>
    {text}
  </span>
  <span class="svg-icon-container">
    <img src={svg} alt="SVG Icon" class="svg-icon" />
  </span>
</a>
