---
import CTA from "./CTA.astro";
---

<section class="hero">
  <div class="hero_content">
    <h1 class="hero__introduce-myself">
      Hi, I’m <span class="hero___my-name">Eriberto Santos</span>
    </h1>
    <p class="hero__profession">Web developer</p>

    <div class="hero__cta-container">
      <CTA text="Write me" svg="/icons/basic/whatsapp.svg" />
    </div>
  </div>

  <div class="hero_image-container">
    <img src="/im.png" alt="Hero Image" class="hero___image" />
  </div>
</section>
