---
import CTA from "./CTA.astro";
---

<section class="hero">
  <div class="hero_content">
    <h1 class="hero__introduce-myself">
      Hola, soy <span class="hero___my-name">Eriberto Santos</span>
    </h1>
    <h3>Desarollador fullStack</h3>
    <p class="hero__profession">
      Me apasiona convertir ideas en herramientas útiles, accesibles y bien
      estructuradas para la web. Si buscas alguien que entienda tu visión y la
      lleve a la realidad, estás en el lugar correcto.
    </p>

    <div class="hero__cta-container">
      <CTA text="Hablemos" svg="/icons/basic/whatsapp.svg" />
    </div>
  </div>

  <div class="hero_image-container">
    <img src="/im.png" alt="Hero Image" class="hero___image" />
  </div>
</section>
