.landing {
    min-height: calc(100vh - 3.5rem);
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    color: #bbc3c9;
    gap: 1.5rem;
    @media screen and (min-width: 1024px) {
        flex-direction: row-reverse;
        min-height: calc(100vh - 6rem);
        padding-top: 0;
        margin-left: 3rem;
    }

}

.firstSection {
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
        width: 50%;
        margin: 0;
        padding: 1rem 0;
    }
}

.titleAndDescription {}

.titleAndDescription p {
    min-height: 50px;
}

.titleAndDescription ul {
    min-height: 150px;
}

.titleAndDescription h1 {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 700;

    @media screen and (min-width: 1024px) {
        font-size: 26px;
    }
}

.informationContainer {}

.informationContainer ul {
    min-height: 125px;
}

.titleAndDescription h1,
.informationContainer p {
    color: #eaf4fb;
}

.titleAndDescription p,
.titleAndDescription ul,
.informationContainer ul {
    font-size: 14px;

    @media screen and (min-width: 1024px) {
        font-size: 1rem;
    }
}

.informationContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: .5rem;
}

.informationContainer ul>li {
    display: flex;
    align-items: center;
}



.secondSection {
    /* min-height: 50%; */
    /* margin: 0 auto; */
}

.imageContainer {
    overflow: hidden;
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.52);
    /* -webkit-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.52); */
    /* -moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.52); */
}

.imageContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    transition: transform .5s ease;
}

@media screen and (min-width: 1024px) {
    .imageContainer {
        border-radius: .5rem;
    }

    .imageContainer img:hover {
        transform: scale(1.02);
    }
}

.iconCheck {
    fill: #41b596;
}

.nameTech {
    margin-left: .25rem;
}


.button {
    margin-top: 1.5rem;
    display: flex;
}

.linkButton {
    background-color: #3094da;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-size: 14px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #eaf4fb;
}

.linkExternal {
    width: 16px;
    height: 16px;
    fill: #eaf4fb;
    margin-left: .5rem;
}
@media screen and (min-width: 768px) {
    .firstSection{
        padding-left: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .secondSection {
        align-self: center;
    }

    .informationContainer p {
        font-size: 18px;
        font-weight: 500;
    }

    .linkButton {
        font-size: 1rem;
        width: 50%;
        padding: 1rem 1rem;
        transition: background-color .1s ease;
    }

    .linkButton:hover {
        background-color: #35a4f2;
    }

    .linkExternal {
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 1300px) {
    .firstSection{
        padding-left: 0;
    }
}